@model MyWebApplication.Models.ViewModel.UsersModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/MyProfileCss">
</head>
@foreach (var i in Model.Users)
{
    <h4>Welcome back, @Html.DisplayFor(m => i.FirstName)!</h4>
}

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card mb-3">
                    <div class="card-content">
                        <div class="d-flex flex-column align-items-center text-center">
                            @foreach (var i in Model.Users)
                            {
                                <img src="@i.AccountImage" alt="Account Image" class="rounded-circle" width="150">
                            }
                            <div class="mt-3">
                                @foreach (var i in Model.Users)
                                {
                                    <h4>@Html.DisplayFor(m => i.LoginName)</h4>
                                    <p class="text-secondary mb-1">@Html.DisplayFor(m => i.FirstName) @Html.DisplayFor(m => i.LastName)</p>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-content">
                        @foreach (var i in Model.Users)
                        {
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p>@Html.DisplayFor(m => i.FirstName) @Html.DisplayFor(m => i.LastName)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p>@Html.DisplayFor(m => i.Email)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p>@Html.DisplayFor(m => i.Gender)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contact Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p>@Html.DisplayFor(m => i.PhoneNumber)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p>@Html.DisplayFor(m => i.Address)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                            <a href="#" class="lnkEdit btn btn-info" data-toggle="modal" data-target="#editModal" data-accountimage="@i.AccountImage" data-userid="@i.UserID" data-login="@i.LoginName" data-password="@i.Password" data-firstname="@i.FirstName" data-lastname="@i.LastName" data-email="@i.Email" data-address="@i.Address" data-phonenumber="@i.PhoneNumber" data-gender="@i.Gender">Edit Information</a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User Details</h4>
                <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editId" hidden>User ID:</label>
                        <input type="text" class="form-control" id="editId" hidden>
                    </div>
                    <div class="form-group">
                        <label for="editAccountImage">Account Image:</label>
                        <span id="editAccountImage"></span>
                    </div>
                    <div class="form-group">
                        <label for="editLoginName">Login Name:</label>
                        <input type="text" class="form-control" id="editLoginName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editPassword">Password (Current/New):</label>
                        <input type="password" class="form-control" id="editPassword">
                    </div>
                    <div class="form-group">
                        <label for="editFirstName">First Name:</label>
                        <input type="text" class="form-control" id="editFirstName">
                    </div>
                    <div class="form-group">
                        <label for="editLastName">Last Name:</label>
                        <input type="text" class="form-control" id="editLastName">
                    </div>
                    <div class="form-group">
                        <label for="editEmail">Email Address:</label>
                        <input type="email" class="form-control" id="editEmail">
                    </div>
                    <div class="form-group">
                        <label for="editAddress">Address:</label>
                        <input type="text" class="form-control" id="editAddress">
                    </div>
                    <div class="form-group">
                        <label for="editPhoneNumber">Phone Number:</label>
                        <input type="text" class="form-control" id="editPhoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="editGender">Gender:</label>
                        <select class="form-control" id="editGender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add JQuery links -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var editModal = $("#editModal");
        var editId = $("#editId");
        var editLoginName = $("#editLoginName");
        var editAccountImage = $("#editAccountImage");
        var editPassword = $("#editPassword");
        var editFirstName = $("#editFirstName");
        var editLastName = $("#editLastName");
        var editEmail = $("#editEmail");
        var editAddress = $("#editAddress");
        var editPhoneNumber = $("#editPhoneNumber");
        var editGender = $("#editGender");

        // Click event for "Edit" links
        $(".lnkEdit").click(function () {
            var userId = $(this).data("userid");
            var loginName = $(this).data("login");
            var accountImage = $(this).data("accountimage");
            var password = $(this).data("password");
            var firstName = $(this).data("firstname");
            var lastName = $(this).data("lastname");
            var email = $(this).data("email");
            var address = $(this).data("address");
            var phoneNumber = $(this).data("phonenumber");
            var gender = $(this).data("gender");

            // Populate the modal with user data
            editId.val(userId);
            editLoginName.val(loginName);
            editAccountImage.val(accountImage);
            editPassword.val(password);
            editFirstName.val(firstName);
            editLastName.val(lastName);
            editEmail.val(email);
            editAddress.val(address);
            editPhoneNumber.val(phoneNumber);
            editGender.val(gender);

            // Show the modal
            editModal.modal("show");
        });

        // Click event for "Save Changes" button
        $("#saveChanges").click(function () {

            // Create a JavaScript object with the updated user data
            var userData = {
                LoginName: editLoginName.val(),
                AccountImage: editAccountImage.val(),
                Password: editPassword.val(),
                FirstName: editFirstName.val(),
                LastName: editLastName.val(),
                Email: editEmail.val(),
                Address: editAddress.val(),
                PhoneNumber: editPhoneNumber.val(),
                Gender: editGender.val()
            };

            // Perform your update logic here (e.g., call an API or submit a form)
            // Make an AJAX request to your API endpoint to update user information
            $.ajax({
                type: "PUT", // Use the appropriate HTTP method (PUT, POST, etc.) for your API
                url: "/account/update", // Replace with your API endpoint URL
                data: JSON.stringify(userData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // Handle the API response as needed
                    console.log("User updated successfully");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle API error
                    console.error("Error updating user:", error);
                    window.location.reload();
                }
            });

            // Close the modal
            editModal.modal("hide");
        });

// Click event for "Close" button
        $(".close-modal").click(function () {
            editModal.modal("hide");
        });

         // Function to reload the user list
    function reloadUserList() {
        $.ajax({
            type: "GET", // Use the appropriate HTTP method for fetching the user list
            url: "/account/users", // Replace with your API endpoint URL to fetch the user list
            success: function (data) {
                // Replace the user list container with the updated user list HTML
                userListContainer.html(data);
            },
            error: function (error) {
                console.error("Error fetching user list:", error);
            }
            });
        }
    });
</script>
